services:
  api:
    environment:
      ASPNETCORE_ENVIRONMENT: Production
    ports:
      - "80:8080"

  cloudbeaver:
    # Optional: disable completely in prod
    deploy:
      replicas: 0
